{% extends "grab_data/base.html" %}
{% load staticfiles %}

{% block content %}

<font face="verdana" size="8">About Us</font>
<hr>

<font face="verdana" size="4">Facebook Web Scraper is a open source project to grab data from facebok.It is developed by Md Rasel from Sylhet Engineerig College,Bangladesh.You can get any of data of you and your facebook friends through this site.But you need Access Token and some permissions from facebook.Please use this site only for educational purpose.</font><hr>


{% endblock %}
