pre {
    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: monospace;
}


input{

    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

select{

    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;


}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 700px;
}



.container {
    padding: 16px;
    width: 100%;
    height: auto;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}



.copyright{
    width: 100%;
    height:auto;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.header{

    width: 100%;
    height: 150px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    }

.table {
    border-radius: 5px;
    width: 60%;
    margin: 0px  auto;
    float: none;
}

.ErrorMessage{
        color:red;
    }

.button-option{

    padding: 16px;
    width: 700px;
    height: 120px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    }

.info{
    width: auto;
}
